<template>
    <main class="main">
        <div class="content-wrapper">
            <aside-nav :path='request_data.data.path'></aside-nav>
            <section class="catalog">
                <h2 class="catalog__title 36px-400-Rob-Txt">{{request_data.data.title}}</h2>
                <img src="" alt="advertising banner" class="catigories__advertising-banner">
                <div class="catalog__card-wrapper card-wrapper">
                    <div class="catalog__card" v-for="category in request_data.data.catalog" :key="category.id">
                        <img :src="category.img" alt="popular product" class="catalog__card-img">
                        <router-link class="catalog__link 24px-400-Rob-Txt" :to="{path :'/catalog/' + request_data.data.link +'/'+category.link}" flat >{{category.title}}</router-link>
                    </div>
                </div>
                <p class="catalog__desc 24px-400-Rob-Txt">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. </p>
                <p class="catalog__desc 24px-400-Rob-Txt">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. </p>
            </section>
        </div>
    </main>
</template>

<script>
import axios from "axios";
import AsideNav from '@/components/AsideNav.vue'
export default {
    name:"catalogSecPage",
    components:{
        AsideNav,
    },
    data(){
        return {
            request_data:'',
        };
    },
    async mounted(){
        // this.$route.params.link
        // let commit = [this.$route.params.link,0]
        // this.$store.commit('setPath',commit)
        await axios.get(`http://localhost:8000/catalog/${this.$route.params.link}`).then(request => (this.request_data = request));
        
        // this.request_data = this.$store.getters.getSecCatalog(this.$route.params.link)
        // console.log('request_data',this.request_data)
    },
}
</script>

<style>
    .content-wrapper{
        display: flex;
        flex-direction: row;
        padding-left: 15px;
    }
    .catalog__card{
        display: flex;
        flex-direction: column;
    }
    .catalog__link{
        margin-top:15px;
    }
</style>