<template>
    <main class="main">
        <div class="content-wrapper">
            <aside-nav :path='request_data.data.path'></aside-nav>
            <section class="catalog">
                <h2 class="catalog__title 36px-400-Rob-Txt">Каталог</h2>
                <div class="catalog__card-wrapper card-wrapper">
                    <div class="catalog__card" v-for="category in request_data.data.catalog" :key="category.id">
                        <img :src="category.img" alt="popular product" class="catalog__card-img">
                        <router-link class="catalog__link 24px-400-Rob-Txt" :to="{path :'/catalog/'+category.link}" flat >{{category.title}}</router-link>
                    </div>
                </div>
                <p class="catalog__desc 24px-400-Rob-Txt">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. </p>
            </section>
        </div>
    </main>
</template>

<script>
import AsideNav from '@/components/AsideNav.vue'
// import BreadCrumbs from '@/components/BreadCrumbs.vue';
import axios from "axios";
export default {
    name:"catalogPage",
    components:{
        AsideNav,
        // BreadCrumbs,
    },
    data(){
        return{
            request_data:"",
        }
    },
    async mounted(){
        // let commit = [0,0]
        // this.$store.commit('setPath',commit)
        // console.log(this.$store.getters.getCatalog)
        await axios.get('http://localhost:8000/catalog').then(request => (this.request_data = request));
        console.log('this',this.request_data.data.catalog)
    },
}
</script>

<style>
    .content-wrapper{
        display: flex;
        flex-direction: row;
        padding-left: 15px;
    }
    .catalog__card{
        display: flex;
        flex-direction: column;
    }
    .catalog__link{
        margin-top:15px;
    }
</style>