<template>
    <main class="main">
        <div class="content-wrapper">
            <aside-nav :path='request_data.data.path'></aside-nav>
            <section class="catalog">
                <h2 class="catalog__title 36px-400-Rob-Txt">{{request_data.data.catalog.title}}</h2>
                <Commoditycard :request='request_data.data.catalog'></Commoditycard>
                <p class="catalog__desc 24px-400-Rob-Txt">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. </p>
                <p class="catalog__desc 24px-400-Rob-Txt">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. </p>
            </section>
        </div>
    </main>
</template>

<script>
import axios from "axios";
import AsideNav from '@/components/AsideNav.vue';
import Commoditycard from '@/components/CommodityСard.vue';
export default {
    name:"catalogThirdPage",
    components:{
        AsideNav,
        Commoditycard,
    },
    data(){
        return {
            request_data:'',
        };
    },
    async mounted(){
        await axios.get(`http://localhost:8000/catalog/${this.$route.params.link}/${this.$route.params.linktwo}`).then(request => (this.request_data = request));
        // let commit = [this.$route.params.link,this.$route.params.linktwo]
        // this.$store.commit('setPath',commit)
        // this.request_data = this.$store.getters.getThirdCatalog(this.$route.params.link,this.$route.params.linktwo)
    },
}
</script>

<style>
    .content-wrapper{
        display: flex;
        flex-direction: row;
        padding-left: 15px;
    }
</style>
