<template>
    <main class="main">
        <section class="delivery">
            <div class="bread-crumbs-wrapper wrapper">
                <router-link class="bread-crumb 18px-400-Rob-Txt" :to="{path :''}" flat >Хлебная крошка</router-link>
                <p class="bread-crumb 18px-400-Rob-Txt"></p>
                <router-link   router-link class="bread-crumb 18px-400-Rob-Txt" :to="{path :''}" flat >Хлебная крошка</router-link>
            </div>
            <h2 class="delivery__title 36px-400-Rob-Txt">Доставка</h2>
            <p class="delivery__desc 24px-400-Rob-Txt">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Venit lupus ad rivŭlum. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Venit lupus ad rivŭlum. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Venit lupus ad rivŭlum. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Venit lupus ad rivŭlum. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Venit lupus ad rivŭlum. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Venit lupus ad rivŭlum. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Venit lupus ad rivŭlum. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibi</p>
        </section>
    </main>
</template>

<script>
export default {
    
}
</script>

<style>

</style>