<template>
    <main class="main">
        <section class="new">
            <div class="bread-crumbs-wrapper wrapper">
                <router-link class="bread-crumb 18px-400-Rob-Txt" :to="{path :''}" flat >Хлебная крошка</router-link>
                <p class="bread-crumb 18px-400-Rob-Txt"></p>
                <router-link class="bread-crumb 18px-400-Rob-Txt" :to="{path :''}" flat >Хлебная крошка</router-link>
            </div>
            <h2 class="new__title 36px-400-Rob-Txt">Заголовок подробной новости</h2>
            <img src="" alt="new img" class="new__img">
            <div class="new__author-date-inf-wrapper wrapper">
                <p class="author 18px-400-Rob-Txt">Автор: bpla</p>
                <p class="date 18px-400-Rob-Txt">29.10.2022г.</p>
            </div>
            <p class="new__desc 18px-400-Rob-Txt">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. Quid alienas inquirere persuadet proprie aliter creando animalium utiles progressus aspi tantumdem attentum extensio. Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. Quid alienas inquirere persuadet proprie aliter creando animalium utiles progressus aspi tantumdem </p>
        </section>
    </main>
</template>

<script>
export default {
    
}
</script>

<style>

</style>