<template>
    <main class="main">
        <section class="gallery">
            <div class="bread-crumbs-wrapper wrapper">
                <router-link class="bread-crumb 18px-400-Rob-Txt" :to="{path :''}" flat >Хлебная крошка</router-link>
                <p class="bread-crumb 18px-400-Rob-Txt"></p>
                <router-link class="bread-crumb 18px-400-Rob-Txt" :to="{path :''}" flat >Хлебная крошка</router-link>
            </div>
            <h2 class="gallery__title 36px-400-Rob-Txt">Галерея</h2>
            <div class="gallery__img-wrapper">
                <img src="" alt="gallery img" class="gallery img">
            </div>
        </section>
    </main>
</template>

<script>
export default {
    
}
</script>

<style>

</style>