<template>
    <main class="main">
        <section class="slaider">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/images/slaider_im_1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://fydi.ru/wp-content/uploads/2022/09/1624298140_3-phonoteka_org-p-ofigennie-oboi-na-telefon-krasivo-4-400x225.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMby4OK2LYKD6KqAUmMEXNKcHtZ3A_LZriDQ&usqp=CAU" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section class="popular-catigories">
            <h2 class="popular-catigories__title Txt-36px-400-Rob">Популярные категории</h2>
            <div class="popular-catigories__card-wrapper card-wrapper">
                <div class="popular-catigories__card" v-for="catalog_1_lvl in request_data.data.catalog" :key="catalog_1_lvl.id">
                    <img :src="catalog_1_lvl.img" alt="popular product" class="popular-catigories__card-img">
                    <router-link class="popular-catigories__link Txt-24px-400-Rob" :to="{path :'catalog'}" flat >{{catalog_1_lvl.title}}</router-link>
                </div>
            </div>
        </section>
        <h2 class="popular-catigories__title Txt-36px-400-Rob">Популярные товары</h2>
        <Commoditycard :request='request_data.data.popular'></Commoditycard>
        <Commoditycard :request='request_data.data.popular'></Commoditycard>
        <section class="product-desc">
            <p class="product-desc Txt-24px-400-Rob">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. </p>
        </section>
    </main>
</template>

<script>
import axios from "axios";
import Commoditycard from '../components/CommodityСard.vue';
export default {
    name: 'MainPage',
    components: {
        Commoditycard,
    }, 
    data (){
        return{
            request_hits:"sold_hits",
            request_new:"new_hits",
            request_data:null
        }
    },
    setup() {       
    },
    async mounted(){
        this.request_data = await axios.get('http://localhost:8000/').then(request => (this.request_data = request));
        // await this.$store.dispatch('loadCatalog');
        // let commit = ['geodesy','copters']
        // this.$store.commit('setPath',commit)
        // this.request_data = this.$store.getters.getSecCatalog('geodesy','copters').catalog_sec[0].goods_cat
    },
}
</script>

<style>
    body{
        width: 1440px;
        margin: 0 auto;
        background-color: #B9EAF7;
    }
    .main{
        padding-left: 105px;
        padding-right: 91px;
    }
    .carousel{
        width: 1212px;
        height: 253px;
        margin: 0 auto;
        margin-top:70px;
        margin-bottom: 30px;
    }
    .popular-catigories__title{
        margin-left: 5px;
        margin-bottom: 33px;
        text-align: start;
    }
    .popular-catigories__card-wrapper{
        margin-left: 17px;
        margin-right: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 85px;
    }
    .popular-catigories__card{
        width: 256px;
    }
    .popular-catigories__card-img{
        margin-bottom: 7px;
    }
    .popular-catigories__link{
        text-align: center;
    }
    .product-desc{
        margin-top: 100px;
    }
    .Txt-36px-400-Rob{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    }
    .Txt-22px-400-Rob{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
    }
    .Txt-21px-400-Rob{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    .Txt-18px-400-Rob{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    .Txt-30px-400-Rob{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
    }
    .Txt-24px-400-Rob{
        font-family: Roboto;
        font-weight: 400;
        size:24px;
        line-height: 28px;
    }
</style>