<template>
    <main class="main">
        <section class="news">
            <div class="bread-crumbs-wrapper wrapper">
                <router-link class="bread-crumb 18px-400-Rob-Txt" :to="{path :''}" flat >Хлебная крошка</router-link>
                <p class="bread-crumb 18px-400-Rob-Txt"></p>
                <router-link class="bread-crumb 18px-400-Rob-Txt" :to="{path :''}" flat >Хлебная крошка</router-link>
            </div>
            <h2 class="news__title 36px-400-Rob-Txt">Новости</h2>
            <div class="news__wrapper wrapper">
                <div class="news__new card">
                    <img src="" alt="new img" class="news__img">
                    <div class="news__author-date-inf-wrapper wrapper">
                        <p class="author 18px-400-Rob-Txt">Автор: bpla</p>
                        <p class="date 18px-400-Rob-Txt">29.10.2022г.</p>
                    </div>
                    <h3 class="news__new-title 30px-400-Rob-Txt">Заголовок новости</h3>
                    <p class="news__new-desc 18px-400-Rob-Txt">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet...</p>
                    <router-link class="news__link 18px-400-Rob-Txt" :to="{path :''}" flat >Подробнее -></router-link>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
export default {
    
}
</script>

<style>

</style>