<template>
    <main>
        <section class="product">
            <div class="product__container">
                <h1 class="product__title">Название товара, которое может быть очень длинным</h1>
                <div class="product__con">
                    <div class="product__fotos">
                        <!-- Container for the image gallery -->
                        <div class="container">

                            <!-- Full-width images with number text -->
                            <div class="mySlides">
                                <div class="numbertext">1 / 6</div>
                                <img src="img_woods.jpg" style="width:100%">
                            </div>
                        
                            <div class="mySlides">
                                <div class="numbertext">2 / 6</div>
                                <img src="img_5terre.jpg" style="width:100%">
                            </div>
                        
                            <div class="mySlides">
                                <div class="numbertext">3 / 6</div>
                                <img src="img_mountains.jpg" style="width:100%">
                            </div>
                        
                            <div class="mySlides">
                                <div class="numbertext">4 / 6</div>
                                <img src="img_lights.jpg" style="width:100%">
                            </div>
                        
                            <div class="mySlides">
                                <div class="numbertext">5 / 6</div>
                                <img src="img_nature.jpg" style="width:100%">
                            </div>
                        
                            <div class="mySlides">
                                <div class="numbertext">6 / 6</div>
                                <img src="img_snow.jpg" style="width:100%">
                            </div>
                        
                            <!-- Next and previous buttons -->
                            <a class="prev" v-on:click="plusSlides(-1)">&#10094;</a>
                            <a class="next" v-on:click="plusSlides(1)">&#10095;</a>
                        
                            <!-- Image text -->
                            <div class="caption-container">
                                <p id="caption"></p>
                            </div>
                        
                            <!-- Thumbnail images -->
                            <div class="row">
                                <div class="column">
                                    <img class="demo cursor" src="img_woods.jpg" style="width:100%" v-on:click="currentSlide(1)" alt="The Woods">
                                </div>
                                <div class="column">
                                    <img class="demo cursor" src="img_5terre.jpg" style="width:100%" v-on:click="currentSlide(2)" alt="Cinque Terre">
                                </div>
                                <div class="column">
                                    <img class="demo cursor" src="img_mountains.jpg" style="width:100%" v-on:click="currentSlide(3)" alt="Mountains and fjords">
                                </div>
                                <div class="column">
                                    <img class="demo cursor" src="img_lights.jpg" style="width:100%" v-on:click="currentSlide(4)" alt="Northern Lights">
                                </div>
                                <div class="column">
                                    <img class="demo cursor" src="img_nature.jpg" style="width:100%" v-on:click="currentSlide(5)" alt="Nature and sunrise">
                                </div>
                                <div class="column">
                                    <img class="demo cursor" src="img_snow.jpg" style="width:100%" v-on:click="currentSlide(6)" alt="Snowy Mountains">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__desc">
                        <p class="desc__quality">Важное свойство 1: значение свойства</p>
                        <p class="desc__quality">Важное свойство 2: значение свойства</p>
                        <div class="desc__stars">
                            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" fill="#59B1C7"/>
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" fill="#59B1C7"/>
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" stroke="#356875"/>
                            </svg>
                            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" fill="#59B1C7"/>
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" fill="#59B1C7"/>
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" stroke="#356875"/>
                            </svg>
                            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" fill="#59B1C7"/>
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" fill="#59B1C7"/>
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" stroke="#356875"/>
                            </svg>
                            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" fill="#59B1C7"/>
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" fill="#59B1C7"/>
                                <path d="M37.5 31.2646L40.4532 48.9916L25 40.6296L9.5468 49L12.5 31.273L0 18.7132L17.2775 16.1254L25 0L32.7225 16.1254L50 18.7132L37.5 31.2646Z" stroke="#356875"/>
                            </svg>
                        </div>
                        <img src="" alt="" class="desc__tag">
                        <img src="" alt="" class="desc__tag">
                        <p class="desc__price--default">9 998 Р</p>
                        <p class="desc__price--crossed">9 998 Р</p>
                        <a href="" class="desc__button">Купить</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="tabs">
            <div class="tabs__container">
                <div class="tabs__header">
                    <a href="" class="tabs__tab">О товаре</a>
                    <a href="" class="tabs__tab tabs__tab--active">Характеристики</a>
                    <a href="" class="tabs__tab">Отзывы</a>
                    <a href="" class="tabs__tab">Обзоры</a>
                </div>
                <p class="tabs__content">Venit lupus ad rivŭlum. Subĭto videt agnum, qui aquam bibit. Lupus vult agnum devorāre. Praetexit causam et clamat: «Cur turbas aquam mihi?» Agnus autem respondet: «Non possum tibi aquam turbāre. Nam a loco, ubi es, aqua currit ad me». Alicui mutatur aliquo eversioni verbis creatione scripturas proponere sequentium eorum devinctam cunctaque potuerit. </p>
            </div>
        </section>
        <section class="other-products">
            <div class="other-products__container">
                <h2 class="other-products__title">С этим товаром часто покупают</h2>
                <div class="other-products__con">
                    <div class="other-products__card">
                        <p class="card__title">Название товара, которое может быть в несколько строк</p>
                        <img src="img/camera.png" alt="" class="card__img">
                        <img src="" alt="" class="card__tag">
                        <img src="" alt="" class="card__stars">
                        <p class="card__desc">Свойства товара, которые помогают выбрать товар сразу</p>
                        <div class="card__footer">
                            <div class="card__price-con">
                                <p class="card__price--default">9 998 Р</p>
                                <p class="card__price--crossed">9 998 Р</p>
                            </div>
                            <a href="" class="card__button">Купить</a>
                        </div>
                    </div>
                    <div class="other-products__card">
                        <p class="card__title">Название товара, которое может быть в несколько строк</p>
                        <img src="img/camera.png" alt="" class="card__img">
                        <img src="" alt="" class="card__tag">
                        <img src="" alt="" class="card__stars">
                        <p class="card__desc">Свойства товара, которые помогают выбрать товар сразу</p>
                        <div class="card__footer">
                            <div class="card__price-con">
                                <p class="card__price--default">9 998 Р</p>
                                <p class="card__price--crossed">9 998 Р</p>
                            </div>
                            <a href="" class="card__button">Купить</a>
                        </div>
                    </div>
                    <div class="other-products__card">
                        <p class="card__title">Название товара, которое может быть в несколько строк</p>
                        <img src="img/camera.png" alt="" class="card__img">
                        <img src="" alt="" class="card__tag">
                        <img src="" alt="" class="card__stars">
                        <p class="card__desc">Свойства товара, которые помогают выбрать товар сразу</p>
                        <div class="card__footer">
                            <div class="card__price-con">
                                <p class="card__price--default">9 998 Р</p>
                                <p class="card__price--crossed">9 998 Р</p>
                            </div>
                            <a href="" class="card__button">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return { 
      slideIndex: 1 ,
      request_data:{},
      request_images:{},
    }
  },
  methods: {
    plusSlides(n) {
      this.showSlides(this.slideIndex += n);
    },
    currentSlide(n) {
      this.showSlides(this.slideIndex = n);
    },
    showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("demo");
      let captionText = document.getElementById("caption");
      if (n > slides.length) {this.slideIndex = 1}
      if (n < 1) {this.slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[this.slideIndex-1].style.display = "block";
      dots[this.slideIndex-1].className += " active";
      captionText.innerHTML = dots[this.slideIndex-1].alt;
    }
  },
  async mounted() {
    this.showSlides(this.slideIndex)
    this.request_data = await axios.get(`http://localhost:8000/catalog/${this.$route.params.link}/${this.$route.params.linktwo}/${this.$route.params.product}`).then(request => (this.request_data = request));
    this.request_images = await axios.get(`http://localhost:8000/catalog/${this.$route.params.link}/${this.$route.params.linktwo}/${this.$route.params.product}/${this.request_data.data.catalog.id}`).then(request => (this.request_data = request));
  }
}
</script>

<style>
  .product__container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .product {
    height: 570px;
  }

  .product__title {
    font-size: 36px;
    margin-top: 30px;
  }

  .product__con {
    display: flex;
    margin-top: 33px;
  }

  .product__fotos {
    font-display: flex;
    flex-direction: column;
  }

  .fotos__img {
    width: 611px;
    height: 416px;
  }

  .fotos__slider {
    height: 130px;
    width: 600px;
    margin-top: 20px;
  }

  .slider__img {
    width: 183px !important;
    height: 110px !important;
  }

  .slider__con {
    max-width: 220px !important;
    height: 120px !important;
    margin-left: 30px;
  }

  .slider__button {
    margin-top: -20px;
  }

  .fotos__tag {
  }

  .product__desc {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
  }

  .desc__quality {
    margin-top: 10px;
    font-size: 24px;
  }

  .desc__stars {
    margin-top: 50px;
    display: flex;
    width: 230px;
    justify-content: space-between;
  }

  .desc__tag {
  }

  .desc__price--default {
    margin-top: 30px;
    font-size: 50px;
  }

  .desc__price--crossed {
    font-size: 30px;
    text-decoration: line-through;
  }

  .desc__button {
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;

    padding-left: 74px;
    padding-top: 20px;
    padding-right: 74px;
    padding-bottom: 23px;

    background-color: #59B1C7;

    border: 1px solid #356875;
    border-radius: 8px;

    width: 249px;
  }

  .desc__button:hover {
    opacity: 0.7;
  }

  .tabs { 
    margin-top: 150px;
  }

  .tabs__container {
    max-width: 1330px;
    margin: 0 auto;
    
  }

  .tabs__header {
    display: flex;
    justify-content: space-between;
  }

  .tabs__tab {
    margin: 0 auto;
    font-size: 26px;

    padding-left: 102px;
    padding-top: 24px;
    padding-right: 102px;
    padding-bottom: 24px;
    background-color: #59B1C7;

    border: 1px solid #356875;
    border-radius: 8px;
  }

  .tabs__tab:hover {
    opacity: 0.8;
  }

  .tabs__tab--active {
    background-color: #6EDAF5;
  }

  .tabs__content {
    margin-top: 34px;
    font-size: 24px;
  }

  .other-products {
    height: 700px;
  }
  
  .other-products__container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .other-products__title {
    font-size: 32px;
    margin-top: 20px;
  }

  .other-products__con {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .other-products__card {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .card__title {
    font-size: 22px;
    width: 360px;
  }

  .card__img {
    margin-top: 5px;
    width: 360px;
    height: 198px;
  }

  .card__tag {
  }

  .card__stars {
    width: 208px;
  }

  .card__desc {
    margin-top: 8px;
    width: 360px;
    font-size: 18px;
  }

  .card__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
  }

  .card__price--default {
    font-size: 30px;
  }

  .card__price--crossed {
    font-size: 21px;
    text-decoration: line-through;
  }

  .card__button {
    font-size: 21px;

    padding-left: 61px;
    padding-top: 14px;
    padding-right: 61px;
    padding-bottom: 14px;
    background-color: #59B1C7;

    border: 1px solid #356875;
    border-radius: 8px;

    width: 192px;
    height: 57px;
  }

  .card__button:hover {
    opacity: 0.8;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width: 700px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
</style>