<template>
    <div>
        <p>test</p>
        <p>{{request_data}}</p>
    </div>
</template>

<style>

</style>

<script>
import axios from "axios";
export default {
    data (){
        return {
            request_data:'Запрос',
        }
    },
    async mounted(){
        // let start = Date.now();

        // try {
        //     let res 
        //     res = await fetch("http://127.0.0.1:8000/api/catalog");
        //     this.request_data = res
        // }
        // catch(err) {
        //     this.request_data = err
        // }

        
        // this.request_data = (Date.now() - start);
        
        await axios.get('http://localhost:8000/catalog').then(request => (this.request_data = request));
        console.log(this.request_data)
    },
}
</script>