<template>
    <aside class="catigories">
        <h2 class="aside__title 36px-400-Rob-Txt">Каталог</h2>
        <ul class="catigories ver-ul">
            <li class="catigories__catigory" v-for="category in request.catalog" :key="category.title">
                <router-link class="catigories__catigory-link 22px-400-Rob-Txt" :to="'http://localhost:8081/#/catalog/'+category.link" flat >{{category.title}}</router-link>
                <ul class="catigories__catigory catigories__catigory--sec ver-ul" v-if="path[1]==category.link" :key="category.id">
                    <router-link class="catigories__catigory-link catigories__catigory-link--sec 22px-400-Rob-Txt" :to="'http://localhost:8081/#/catalog/'+category.link+'/'+categorysec.link" flat v-for="categorysec in category.catalog_sec" :key="categorysec.title">{{categorysec.title}}</router-link>
                </ul>
            </li>
        </ul>
        <!-- <p>{{this.$route.params.linktwo}}</p> -->
        <form action="none" class="filters"  v-if="path[2]" :key="path">
            <h3 class="filters__form"></h3>
            <select class="filters__select">
                <option>5 звезд</option>
                <option>пластиковый корпус</option>
                <option>аллюминиевый корпус</option>
            </select>
            <p class="filters__filter">Скорость</p>
            <div>
                <input class="checkbox filter__checkbox" type="checkbox" id="speed1" name="speed1" checked>
                <label for="speed1">15 км/ч</label>
            </div>
            <div>
                <input class="checkbox filter__checkbox" type="checkbox" id="speed2" name="speed2" checked>
                <label for="speed2">20 км/ч</label>
            </div>
            <div>
                <input class="checkbox filter__checkbox" type="checkbox" id="speed3" name="speed3" checked>
                <label for="speed">25 км/ч</label>
            </div>
            <p class="filters__filter">Длительность полета</p>
            <div>
                <input class="checkbox filter__checkbox" type="checkbox" id="duration1" name="duration1" checked>
                <label for="duration1">10 мин</label>
            </div>
            <div>
                <input class="checkbox filter__checkbox" type="checkbox" id="duration2" name="duration2" checked>
                <label for="duration2">15 мин</label>
            </div>
            <div>
                <input class="checkbox filter__checkbox" type="checkbox" id="duration2" name="duration2" checked>
                <label for="duration2">25 мин</label>
            </div>
            <p class="filters__filter">Цена</p>
            <p class="filters__filter">10руб          9999руб</p>
            <input class="range filter__range" type="range" min="0" max="100" step="1" value="50">
            <p class="filters__filter">Артикул товара</p>
            <input type="text" class="input filter__input">
            <button class="button filter__button">Применить</button>
            <button class="button filter__button">Сбросить</button>
        </form>
    </aside>
</template>

<script>
export default {
    name: 'AsideNav',
    // components:{
    //     StarsReflector,
    // },
    props:['path'],
    data(){
        return {
            request:'',
        };
    },
    async mounted(){
        await this.$store.dispatch('loadCatalog');
        this.request = this.request = this.$store.getters.getCatalog
        // this.path = this.$store.getters.getPath
        // console.log('this.path',this.path)
    },
}
</script>

<style>
    aside{
        display: flex;
        width: 270px;
        justify-content: start;
        flex-direction: column;
        margin-top: 95px;
    }
    .aside__title{
        margin-bottom: 20px;
    }
    .catigories__catigory{
        display: flex;
        flex-direction: column;
    }
    .catigories__catigory-link{
        margin-bottom: 20px;
    }
    .catigories__catigory-link--sec{
        margin-left: 20px;
    }
</style>