<template>
    <div>
        <b-breadcrumb :items="items"></b-breadcrumb>
    </div>
</template>
  
<script>
    export default {
    props: [{kroshka: {type: String,required: true}},'items'], 
    // data() {
    //     return {
    //     items: [
    //         {
    //         text: 'Главная',
    //         href: '/'
    //         },
    //         {
    //         text: 'Каталог',
    //         href: '/catalog'
    //         },
    //         {
    //         text: 'this.request_data.title',
    //         active: true
    //         }
    //     ]
    //     }
    // },
}
</script>