<template>
    <section class="sels-hits">
        <div class="sels-hits__card-wrapper card-wrapper">
            <div class="sels-hits__card" v-for="sold_hit in request" :key="sold_hit.id">
                <router-link class="sels-hits__product-name Txt-22px-400-Rob" :to="{path :path[1]+'/'+sold_hit.link}" flat >{{sold_hit.title}}</router-link>
                <!-- <p class="sels-hits__product-name Txt-22px-400-Rob">{{sold_hit.title}}</p> -->
                <router-link class="sels-hits__card-img" :to="{path :path[1]+'/'+sold_hit.link}" flat ><img :src="sold_hit.img" :alt="sold_hit.img" class="sels-hits__card-img"></router-link>
                <!-- <div class="sels-hits__promotion attention-grabber Txt-21px-400-Rob">%</div> -->
                <stars-reflector :stars_count="sold_hit.stars" ></stars-reflector>
                <p class="sels-hits__product-desc Txt-18px-400-Rob">{{sold_hit.desc}}</p>
                <div class="sels-hits__action-field">
                    <div class="costs-wrapper wrapper">
                        <p class="new-cost Txt-30px-400-Rob" v-if="sold_hit.new_price > 0" :key="sold_hit.id">{{sold_hit.new_price}}</p>
                        <p class="new-cost Txt-30px-400-Rob" v-if="sold_hit.new_price == 0" :key="sold_hit.id">{{sold_hit.old_price}}</p>
                        <p class="old-cost Txt-21px-400-Rob" v-if="sold_hit.new_price > 0" :key="sold_hit.id">{{sold_hit.old_price}}</p>
                    </div>
                    <router-link class="sels-hits__link Txt-24px-400-Rob" :to="{path :''}" flat >Купить</router-link>
                </div>
            </div>
        </div>
    </section>
</template>
// .data.json[2].sold_hits
<script>
// import axios from "axios";
import StarsReflector from './StarsReflector.vue';
export default {
    name: 'CommodityCard',
    components:{
        StarsReflector,
    },
    props: ['request'],
    data (){
        return{
            path:'',
        }
    },
    mounted(){
        this.path = this.$store.getters.getPath
    },
    // data (){
    //     return {
    //         request_data:null,
    //         // stars_count:this.request_data.data.json[2].sold_hits,
    //     }
    // },
    // async mounted(){
    //     await axios.get('/JSON_Files/main.json').then(request => (this.request_data = request));
    // },
    // methods:{
    //     Method1(){
    //         console.log("method",this.request)
    //     }
    // },
}
</script>

<style>
    .sels-hits__title{
        margin-left:5px ;
        margin-bottom: 29px;
        text-align: start;
    }
    .sels-hits__card-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .sels-hits__card{
        display: flex;
        flex-direction: column;
        width: 317px;
    }
    .sels-hits__product-name{
        text-align: center;
    }
    .sels-hits__action-field{
        margin-top: 7px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sels-hits__link{
        text-align: center;
        padding-top: 13px;
        padding-bottom: 13px; 
        background: #59B1C7;
        border: 1px solid #356875;
        border-radius: 8px;
        width: 169px;     
    }
    .new-cost{
        margin-bottom: 4px;
    }
    .old-cost{
        margin: 0;
        text-decoration: line-through;
    }
</style>