<template>
    <div class="all-stars-wrapper">
        <!-- <p>Звездочки{{stars_count}}</p> -->
        <div class="sels-hits__stars-wrapper wrapper" v-if="stars_count==0" :key="stars_count.id">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
        </div>
        <div class="sels-hits__stars-wrapper wrapper" v-if="stars_count==1" :key="stars_count.id">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
        </div>
        <div class="sels-hits__stars-wrapper wrapper" v-if="stars_count==2" :key="stars_count.id">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
        </div>
        <div class="sels-hits__stars-wrapper wrapper" v-if="stars_count==3" :key="stars_count.id">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
        </div>
        <div class="sels-hits__stars-wrapper wrapper" v-if="stars_count==4" :key="stars_count.id">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(2).png" alt="star" class="star">
        </div>
        <div class="sels-hits__stars-wrapper wrapper" v-if="stars_count==5" :key="stars_count.id">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
            <img src="../assets/icons/Vector(1).png" alt="star" class="star">
        </div>
    </div>
</template>

<script>
export default {
    props:['stars_count'],
}
</script>

<style>
    .sels-hits__stars-wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 18px;
    }
    .star{
        margin-right: 7px;
    }
</style>